@tailwind base;
  @tailwind components;
  @tailwind utilities;

*{
  font-family: montserrat;
}
::selection{
  background-color: #17ec8a;
  color: white;
}

/*Loading screen*/

.loading-screen{
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500 !important;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #17ec8a;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

/*Header*/

header{
  background-color: #17ec8a;
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
  height: 140px;
  z-index: 100;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}
.sidebar{
  height: 100vh;
  position: fixed;
  width: 30%;
  background-color: #f3f5f9;
  z-index: 200 !important;
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}
@media(max-width: 1450px){
  .sidebar{
    width: 50%;
  }
}


 /*Inputs*/

 input{
  border: 1px solid rgb(219, 219, 219);
  width: 100% !important;
  outline: #1a1a1a;
  background-color: #f0f5fa;
 }

 .border-form{
  border: 1px solid rgb(233, 233, 233);
  padding: 120px 80px;
  border-radius: 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 }

 .search-input {
  background-image: url('/magnifying-glass-solid.svg');
  background-repeat: no-repeat;
  background-position: 10px 8px ;
  background-size: 25px;
  padding-left: 40px;
}

.search-label {
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 5px;
  transition: 0.2s ease all;
}

.search-input:focus ~ .search-label,
.search-input:not(:placeholder-shown) ~ .search-label {
  top: -20px;
  transform: scale(.75);
  left: -2px;
  /* font-size: 14px; */
  color: #3951b2;
}



 /*GENERATE BUTTON*/

 .generate-button-container{
  background-color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 .generate-button-container button{
  background-color: #17ec8a;
  color: white;
  border-radius: 16px;
  font-weight: 700;
 }


/*Dahboard*/

.qr-display-container{
  background-color: #f3f5f9;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 16px;
  padding: 40px 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.qr-display-container a{
  text-decoration: underline;
  font-weight: 600;
  padding: 20px 40px;
}
.qr-url{
  color: rgb(134, 134, 134);
}
.qr-image-dashboard{
  height: 500px ;
}

.dashboard-container{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 80px 20px;
}
.dashboard-item-container{
  background-color: #f3f5f9;
 
  border-radius: 16px;
  margin: 20px 0;
  padding: 20px;

}

.image-qr img{
  width: 150px;
  height: 150px;
}
.download-qr-button{
  background-color: #17ec8a;
  padding: 5px 20px;
  margin: 0 15px;
  border-radius: 8px;
}
.delete-qr-button{
  background-color: red;
  color: white;
  padding: 5px 20px;
  margin: 0 15px;
  border-radius: 8px;  
}


@media(max-width: 1022px){

  .header-logo{
    height: 50px;
  }
  .sidebar{
    width: 100%;
  }

  .dashboard-item-container{
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 40px 20px;
    width: 100%;
  }
  .image-qr{
    width: 100%;
    margin: 0;
  }
  .image-qr img{
    height: 200px;
    width: 200px;
    margin: 0 auto;
  }
  .text-qr{
    width: 100%;
  }
  .qr-info{
    width: 100% !important;
    flex-direction: column;
  }
  .qr-action-buttons{
    justify-content: center;
    padding: 20px 0;
  }

}


/*GENERATE PAGE*/

.generate-button-form{
  background-color: #17ec8a;
  border-radius: 12px;
}
.download-qr-button-form{
  background-color: #17ec8a;
  margin: 20px 0;
  border-radius: 12px;
  padding: 15px 25px;
}
